@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.header, .navbar {
  margin: 0 !important;
  padding: 0 !important;
}

.big-div {
  width: 100%;
  height: 60vh;
}

.big-div-img-box {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

.title-movie-big-div, .description-movie-big-div {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  overflow-wrap: break-word;
  color: white;
}

.title-movie-big-div {
  font-size: 35px;
}

.over-layer {
  width: 100%;
  height: 400px;
  z-index: 9;
  box-shadow: inset 1px 1px 28px 21px #000000;
  position: absolute;
}

#big-div-img-0 {
  z-index: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.box-infos {
  width: 100%;
  height: fit-content;
  margin-top: 225px;
  position: relative;
}

.box-black-opacity-50 {
  z-index: 0;
  width: 100%;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.937);
  box-shadow: 0px -6px 21px 17px #000000;
}

.box-black-opacity-50 {
  z-index: 0;
}

#box-desc {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5%;
}

#bestRatedMovies-description {
  font-size: 10px;
}

.button {
  opacity: 100%;
  height: 50px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.button-more-info {
  background-color: black;
  color: white;
  transition-duration: 0.5s;
  transition-property: background-color;
}
.button-more-info:hover {
  background-color: rgb(52, 52, 52);
}

.button-play {
  background-color: yellow;
  transition-duration: 0.5s;
  transition-property: background-color;
}
.button-play:hover {
  background-color: rgb(255, 255, 163);
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
  margin-top: 50px;
}

.carousel__viewport {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  counter-increment: item;
  height: 600px;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 1rem;
}

.carousel::after,
.carousel__next {
  right: 1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  margin-top: -25px;
  z-index: 1;
  background-color: rgba(26, 25, 25, 0.3098039216);
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 600px) {
  .main-div {
    background-color: black;
  }
  .carousel {
    margin-top: 80px;
    height: 317px;
    width: 100%;
    overflow-y: unset;
    overflow-x: auto;
    scrollbar-color: white;
  }
  .carousel__snapper {
    display: none;
  }
  .carousel__viewport {
    height: 300px;
    width: 150%;
    overflow-x: unset;
  }
  .carousel__slide {
    position: unset;
    flex: 14%;
    width: 80%;
    object-fit: cover;
    height: 500px;
    cursor: pointer;
  }
  .carousel__slide:hover {
    width: 85%;
    height: 550px;
    transition: 0.3s;
  }
  .title-movie {
    display: none;
  }
  .box-infos-cat {
    display: none;
  }
  .carousel__slide:before {
    content: none;
  }
  .carousel__next, .carousel__prev {
    transform: translateY(100%);
    display: none;
  }
  .carousel::after, .carousel::before {
    margin-top: 95px;
    display: none;
  }
}
.dynamic-div {
  height: 100vh;
  width: 100%;
}

html, body {
  max-width: 100%;
  background-color: black;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
  height: 10vh;
  width: 100%;
}

#movies-container {
  height: 200px;
  width: 100%;
  background-color: rgb(89, 89, 89);
}

.main-div {
  max-width: 100%;
  height: fit-content;
}

* {
  padding: 0;
  margin: 0;
}

.category-title {
  color: white;
  text-align: center;
  margin-top: 150px;
}

.main-div {
  width: 100%;
  height: fit-content;
  background-color: black;
  position: relative;
}

#main-blur-screen {
  display: none;
  width: 100%;
  height: 3830px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.824);
  z-index: 99;
}

.modal-window {
  width: 60%;
  height: fit-content;
  background-color: rgba(148, 148, 151, 0.926);
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  border-radius: 20px;
}

.button-modal {
  border-radius: 0 0 10px 10px;
}

.close-button {
  width: fit-content;
  height: fit-content;
  padding: 10px 10px;
  background-color: rgb(253, 148, 148);
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 0;
}

.modal-inner {
  font-size: 13px;
}

#modal-inner-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.modal-inner-title {
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 5%;
  color: white;
  font-size: 30px;
  width: 80%;
}

.modal-inner-bottom {
  margin: 10px 7%;
}

.modal-text {
  margin-top: 4px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-navbar {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.navbar-ul {
  list-style-type: none;
}

.small-divs-main-box {
  margin-top: 120px;
  width: 100%;
  height: 50vh;
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.small-single-div {
  width: 10%;
  height: 50%;
  background-color: pink;
}

.box-infos-cat {
  margin-top: -135px;
}

.button-box-cat {
  margin-top: -17px;
}

.title-movie {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  overflow-wrap: break-word;
  color: white;
  z-index: 5;
  margin-top: -40px;
  margin-left: 10px;
}

.btn-more-infos {
  position: absolute;
  z-index: 5;
  margin-top: 82px;
  width: 100%;
  height: 50px;
}

/*# sourceMappingURL=main.css.map */
