@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.header, .navbar {
    margin: 0 !important;
    padding: 0 !important;
}

$navbar-bg-color: rgb(255, 88, 88);

.big-div {
    background-color: $navbar-bg-color;
    width: 100%;
    height: 60vh;
}

.big-div-img-box {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
}

.over-layer {
    width: 100%;
    height: 400px;
    z-index: 9;
    box-shadow: inset 1px 1px 28px 21px #000000;
    position: absolute;

}

#big-div-img-0 {
    z-index: 0;
    width:100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.box-infos {
    width: 100%;
    height: fit-content;
    margin-top: 225px;
    position: relative;
}

.box-black-opacity-50 {
    z-index: 0;
    width: 100%;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.937);

    position: absolute;
    box-shadow: 0px -6px 21px 17px #000000;
}

.box-black-opacity-50{
    z-index: 0;
}

.box-desc {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    
}

#title-movie-0, #description-movie-0 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    overflow-wrap: break-word;
    color: white;
    z-index: 5;
}

#bestRatedMovies-description {
    font-size: 10px;
}

.button {
    opacity: 100%;
    height: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
   
}

.button-more-info {
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    transition-property: background-color;
    &:hover {
        background-color: rgb(52, 52, 52)
    }
}

.button-play {
    background-color: yellow;
    transition-duration: 0.5s;
    transition-property: background-color;
    &:hover {
        background-color: rgb(255, 255, 163)
    }
}


